.body{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}
body{
    margin: 0%;
    display: flex;
    justify-content: center;
}
#you{
    background-color: rgb(246, 2, 2);
    width: 30px;
    height: 30px;
    position: relative;
    top: 460px;
   


}
#obj{
    background-color: black;
    width: 10px;
    height: 30px;
    position: relative;
    top: 430px;
    left: 480px;
    
}

#start{
    width: 40px;
    height: 40px;
    
}
.jump{
    animation: jump 0.5s linear;
}
.run{
    animation: obj 3s linear infinite ;
}
@keyframes jump {
    0%{
        top: 460px;
    }
    25%{
        top:430px;
    }
    50%{
        top:400px;
    }
    75%{
        top:430px;
    }
    100%{
        top:460px;
    }
}

@keyframes obj {
    0%{
        left: 480px;
    }
  
    100%{
        left: 0px;
    }
    
}

